
.btn-add{
  background-color: #183aff;
  color: #fff;
}
.select-action{
  width: 150px;
  height: 30px;
  justify-content: center;
  background-color: transparent;
  border-color: #3472F7;
  line-height: 1.5;
  color: #212529;
  border-radius:4px;
}
.btn-action{
  width: 150px;
  height: 30px;
  justify-content: center;
}
