<form method="post" action="/category/store" class="">
    <h2 class="mt-4">CREATE NEW CATEGORY</h2>
    <div class="form-group">
        <label>Name </label>
        <input required name="name" type="text" class="form-control" placeholder="Eg. Văn Học" >
    </div>

    <div class="form-group">
        <label>Image link</label>
        <input name="image" type="text" class="form-control" placeholder="Eg. https://example.com/img.png" >
    </div>

    <button class=" btn btn-primary  mb-4 btn-add">Add</button>
</form>
